header {
  border: double 15px;
  background: rgb(64, 181, 163);
  border-color:rgb(0, 0, 0);
}

h1 {
  color: rgb(0, 0, 0);
  font-family: 'Kaushan Script', cursive;
  font-size: 55px;
  text-align: center;
}

h2 {
  text-align: center;
  height: 5vh;
}

img {
  display: flex;
  flex-direction: row;
  border-radius: 15%;
  height: 20vh;
  width: 20vw;
  margin: 5px;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

section {
  margin: 10px;
  height: 40vh;
  width: 20vw;
}
/* 
input {
  position: absolute;
} */

p {
  color: rgb(24, 96, 104)
}

h2 {
  font-family: 'bangers';
  font-size: 25px;
  color: rgb(24, 96, 104);
} 

button {
  padding:10px 20px;
  background-color: rgb(64, 181, 163);
  border: solid;
  border-radius: 15px;
  margin-left: 60px;
}
